<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>888842041312-uheg1nomugpfsfelu196bi1vba5v4ugl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.888842041312-uheg1nomugpfsfelu196bi1vba5v4ugl</string>
	<key>API_KEY</key>
	<string>AIzaSyBzghUeiHU0tvoW9CYl9bTz3VpuyQpJnYI</string>
	<key>GCM_SENDER_ID</key>
	<string>888842041312</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.felink.OCSimpleDemo</string>
	<key>PROJECT_ID</key>
	<string>ocdemo-58e16</string>
	<key>STORAGE_BUCKET</key>
	<string>ocdemo-58e16.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:888842041312:ios:b3fc9657a5cfcb5d</string>
	<key>DATABASE_URL</key>
	<string>https://ocdemo-58e16.firebaseio.com</string>
</dict>
</plist>